jasypt.encryptor.password={{ jasypt_password }}

spring.datasource.url={{ datasource_url }}
spring.datasource.username={{ db_user_name }}
spring.datasource.password={{ db_user_password }}

spring.jpa.hibernate.ddl-auto=update
