{% for instance in ec2_instances_running[group] %}
Host {{ instance.tags.name }}
  HostName {{ instance.public_dns_name }}
  Port 22
  User centos
  IdentityFile ~/.ssh/{{ project_name }}-{{ env }}-private.pem
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
{% endfor %}
